section {
    margin: 15px 0px;
}

.myInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 80px;
}

.myInfo img {
    user-select: none;
    width: 270px;
    border-radius: 160px;
}

.myInfo h1 {
    user-select: none;
    font-size: 44px;
    color: white;
    font-family: PaluiSP;
    margin-bottom: 10px;
}

.containerBadges {
    margin: 0;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.containerBadges span {
    position: relative;
    user-select: none;
    border-radius: 10px;
    background-color: rgb(253, 117, 117);
    font-family: monospace;
    font-weight: 900;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    animation: fadeOutSpanBages 0.3s both;
}

.containerBadges span:hover {
    animation: fadeInSpanBages 0.3s both;
}

@keyframes fadeInSpanBages {
    0% {
        padding: 5px 15px;
    }

    100% {
        padding: 8px 18px;
    }
}


@keyframes fadeOutSpanBages {
    0% {
        padding: 8px 18px;
    }

    100% {
        padding: 5px 15px;
    }
}

.aboutMe {
    border: 4px solid rgb(170, 170, 170);
    border-style: none none none solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
    width: 60%;
    height: 50vh;
    transition: border 0.1s;
}


.aboutMe:hover {
    border: 4px solid rgb(248, 119, 119);
    border-style: none none none solid;
}

.aboutMe:hover h2 {
    font-size: 17px;
}

.aboutMe:hover p {
    color: white;
}

.aboutMe p {
    margin-top: 0px;
    display: block;
    padding: 13px;
    font-family: monospace;
    color: rgb(187, 187, 187);
    transition: color 0.2s;
}

.aboutMe h2 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(255, 220, 220);
    margin-bottom: 0;
    margin-left: 15px;
    align-self: flex-start;
    transition: font-size 0.2s;
}

.myProject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projects {
    cursor: pointer;
    user-select: none;
    border: 4px solid rgb(170, 170, 170);
    border-style: none none none solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
    width: 100%;
    margin: 15px;
    vertical-align: middle;
    transition: border 0.1s;
}

.projects:hover {
    border: 4px solid rgb(248, 119, 119);
    border-style: none none none solid;
}

.flex {
    margin: 7px;
}

.Author {
    color: rgb(149, 255, 184);
    font-weight: 400;
}

.projects h1 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(255, 220, 220);
    margin-bottom: 0;
    height: 30px;
    margin-left: 15px;
    align-self: flex-start;
    transition: font-size 0.2s;
}

.projects:hover h1 {
    font-size: 17px;
}

.projects h1::after {
    content: "";
    background-image: url("/public/image/svg/open-icon.svg");
    background-size: 100%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: sticky;
    filter:
        brightness(10) sepia(2.3) hue-rotate(225deg) saturate(3) contrast(7.9);
    z-index: 3;
    left: 1600px;
    top: 0;
    margin-right: 20px;
}

.LangName {
    margin: 10px 15px;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
}

.LangName::before {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    border-radius: 60px;
    z-index: 3;
    right: 5px;
    top: 4px;
}

#JS::before {
    background-color: rgba(255, 208, 0, 0.651);
}

#PHP::before {
    background-color: rgb(93, 106, 218, 0.651);
}

.projects p {
    margin-top: 0px;
    display: block;
    padding: 11px;
    margin-bottom: 0;
    font-weight: 100;
    font-family: sans-serif;
    color: rgb(187, 187, 187);
    transition: color 0.2s;
}

.projects:hover p {
    color: rgb(255, 255, 255);
}

#title-Project {
    font-family: monospace;
    color: white;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {

    .myProject {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .myInfo h1 {
        user-select: none;
        font-size: 24px;
        color: white;
        font-family: PaluiSP;
        margin-bottom: 10px;
    }

    .projects {
        width: 90%;
        margin: 15px;
    }

    .containerBadges {
        margin: 0;
        width: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .containerBadges span {
        position: relative;
        user-select: none;
        border-radius: 10px;
        background-color: rgb(253, 117, 117);
        font-family: monospace;
        font-weight: 500;
        color: white;
        padding: 5px 15px;
        margin: 4px;
        margin-top: 2px;
        animation: fadeOutSpanBages 0.3s both;
    }

    .aboutMe h2 {
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 100;
        color: rgb(255, 220, 220);
        margin-bottom: 0;
        margin-left: 15px;
        margin-top: 15px;
        align-self: flex-start;
        transition: font-size 0.2s;
    }

    .aboutMe {
        border: 4px solid rgb(170, 170, 170);
        border-style: none none none solid;
        box-shadow: 1px 1px 10px black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(68, 68, 68);
        width: 80%;
        margin-top: 10px;
        height: 60vh;
        transition: border 0.1s;
    }
}
