footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-family: monospace;
}

footer h2 {
    text-align: center;
        margin: 5px;
}
footer a {
    text-decoration: none;
    font-family: monospace;
    font-size:18px;
    color: rgb(252, 61, 61);
    display: block;
    margin: auto;
    transition: color 0.1;
    margin: 15px;
    margin-top: 5px;
}

footer a:hover {
    color: rgb(189, 51, 51);
}

footer img {
    user-select: none;
    position:sticky;
    left: 2630px;
        cursor: pointer;
    margin-right: 10px;
    bottom: 10px;
    width: 30px;
}
footer #ImgBox {
    width: 100%;
}
