section {
    margin: 15px 0px;
}

#MyContent_Code a {
    margin: 0;
    padding: 0;
    width: 100%;
}

#MyContent_Code {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 0;
}

.ScrollContents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.myInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 80px;
}

.myInfo img {
    user-select: none;
    width: 270px;
    border-radius: 160px;
}

.myInfo h1 {
    user-select: none;
    font-size: 44px;
    color: white;
    font-family: PaluiSP;
    margin-bottom: 10px;
}

.containerBadges {
    margin: 0;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.containerBadges span {
    position: relative;
    user-select: none;
    border-radius: 10px;
    background-color: rgb(117, 180, 253);
    font-family: monospace;
    font-weight: 900;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    animation: fadeOutSpanBages 0.3s both;
}

.Dark-mode .containerBadges span {
    background-color: rgb(253, 117, 117);
}

.containerBadges span:hover {
    animation: fadeInSpanBages 0.3s both;
}

@keyframes fadeInSpanBages {
    0% {
        padding: 5px 15px;
    }

    100% {
        padding: 8px 18px;
    }
}


@keyframes fadeOutSpanBages {
    0% {
        padding: 8px 18px;
    }

    100% {
        padding: 5px 15px;
    }
}

.aboutMe {
    border: 4px solid rgb(170, 170, 170);
    border-style: none none none solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 47, 56);
    width: 60%;
    height: 100%;
    transition: border 0.1s;
}

.Dark-mode .aboutMe {
    background-color: rgb(56, 43, 43);
}

.aboutMe:hover {
    border: 4px solid rgb(119, 186, 248);
    border-style: none none none solid;
}

.Dark-mode .aboutMe:hover {
    border: 4px solid rgb(248, 119, 119);
    border-style: none none none solid;
}

.aboutMe:hover h2 {
    font-size: 17px;
}

.aboutMe:hover p {
    color: white;
}

.aboutMe p {
    margin-top: 0px;
    display: block;
    padding: 13px;
    font-family: monospace;
    color: rgb(187, 187, 187);
    transition: color 0.2s;
}

.aboutMe h2 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(255, 220, 220);
    margin-bottom: 0;
    margin-left: 15px;
    align-self: flex-start;
    transition: font-size 0.2s;
}

.myProject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projects {
    cursor: pointer;
    user-select: none;
    border: 4px solid rgb(170, 170, 170);
    border-style: none none none solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 47, 56);
    width: 100%;
    margin: 15px;
    height: 85%;
    vertical-align: middle;
    transition: border 0.1s;
}

.flex {
    height: 75%;
    margin-top: 10px;
}

.Dark-mode .projects {
    background-color: rgb(56, 43, 43);
}

.projects:hover {
    border: 4px solid rgb(119, 186, 248);
    border-style: none none none solid;
}

.Dark-mode .projects:hover {
    border: 4px solid rgb(248, 119, 119);
    border-style: none none none solid;
}

.Author {
    color: rgb(149, 255, 184);
    font-weight: 400;
}

.projects h1 {
    position: static;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(255, 220, 220);
    margin-bottom: 0;
    height: 30px;
    margin: 10px 0px;
    margin-left: 12px;
    transition: font-size 0.2s;
}

.projects:hover h1 {
    font-size: 17px;
}


.projects h1::after {
    content: "";
    background-image: url("/public/image/svg/open-icon.svg");
    background-size: 100%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: sticky;
    filter:
        brightness(10) sepia(2.3) hue-rotate(225deg) saturate(3) contrast(7.9);
    z-index: 3;
    left: 12600px;
    top: 0;
    margin-right: 20px;
}

.LangName {
    margin: 15px;
    color: white;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 500;
    position: relative
}

.ContainerLang {
    width: 100%;
    position: relative;
    height: 10%;
    margin-top: 0;
}

.LangName::before {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    border-radius: 60px;
    z-index: 3;
    top: 4px;
    right: 7px;
}

#JS::before {
    background-color: rgba(255, 208, 0, 0.651);
}

#PHP::before {
    background-color: rgb(93, 106, 218, 0.651);
}

#JSON::before {
    background-color: rgb(197, 197, 29);
}

#Py::before {
    background-color: rgb(183, 240, 27);
}

#SHELL::before {
    background-color: rgba(39, 255, 50, 0.651);
}


.projects p {
    text-overflow: ellipsis;
    margin-top: 0px;
    display: block;
    margin-bottom: 0;
    margin: 15px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgb(187, 187, 187);
    transition: color 0.2s;
}

.projects:hover p {
    color: rgb(255, 255, 255);
}

#title-Project {
    font-family: monospace;
    color: white;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 0;
}

.myGitHub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myGitHub img {
    user-select: none;
    margin: 0px 20px;
}

#title-GitHub {
    font-family: monospace;
    color: white;
}

#PrContentView span {
    background-color: rgb(117, 180, 253);
}

.Dark-mode #PrContentView span {
    background-color: rgb(253, 117, 117);
}


.containerLanguagesPr {
    margin: 0;
    width: 100%;
    height: 4vh;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;

}

.containerIDEPr {
    margin: 0;
    width: 100%;
    height: 7vh;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}


.containerIDEPr span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 600;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    animation: fadeOutSpanBages 0.3s both;
}

.iconXh1 img {
    width: 15px;
    margin: 2px;
    margin-right: 5px;
    margin-left: 0;
}

.iconXh1 h1 {
    margin: 0;
    padding: 0;
    font-size: 12px;
}




.containerIDEPr span:hover {
    animation: fadeInSpanBages 0.3s both;
}

#lastCLPr span {
    cursor: pointer;
}

#PrContentView #lastCLPr {
    margin-bottom: 10px;
}

.containerLanguagesPr span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 600;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    animation: fadeOutSpanBages 0.3s both;
}

.containerLanguagesPr span:hover {
    animation: fadeInSpanBages 0.3s both;
}

#header-title_aboutME-2 {
    transition: font-size 0.5s;
}

#header-title_aboutME-3 {
    transition: font-size 0.7s;
}


@media screen and (max-width: 900px) {



    .myGitHub img {
        width: 90%;
        margin: 15px;
    }

    .myGitHub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .myProject {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    #PrContentView {
        user-select: none;
        height: 380px;
    }


    #PrContentView .containerLanguagesPr {
        margin-left: 15px;
        margin-bottom: 78px;
    }

    #PrContentView #firstCLPr span {
        margin: 5px;
        margin-right: 10px;
    }

    #PrContentView #firstCLPr {
        width: 100%;
        margin-left: 15px;
    }

    #PrContentView #lastCLPr {
        margin-left: 15px;
        margin-bottom: 0;
    }

    .myInfo h1 {
        user-select: none;
        font-size: 24px;
        color: white;
        font-family: PaluiSP;
        margin-bottom: 10px;
    }

    .projects {
        width: 90%;
        height: 290px;
    }

    .containerBadges {
        margin: 0;
        width: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .containerBadges span {
        position: relative;
        user-select: none;
        border-radius: 10px;
        font-family: monospace;
        font-weight: 500;
        color: white;
        padding: 5px 15px;
        margin: 4px;
        margin-top: 2px;
        animation: fadeOutSpanBages 0.3s both;
    }

    .aboutMe h2 {
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 100;
        color: rgb(255, 220, 220);
        margin-bottom: 0;
        margin-left: 15px;
        margin-top: 15px;
        align-self: flex-start;
        transition: font-size 0.2s;
    }

    .aboutMe {
        border: 4px solid rgb(170, 170, 170);
        border-style: none none none solid;
        box-shadow: 1px 1px 10px black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
        height: 46vh;
        transition: border 0.1s;
    }

    #infoText {
        height: 400px;
    }

    .projects p {
        max-height: 7.5em;
        line-height: 1.5em;
        margin-bottom: 45px;
    }

    #header-title_aboutME-3 {
        margin-top: 50px;
    }
}

#redirectGame {
    border: none;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    font-family: Roboto;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 8px black;
    background-color: rgb(255, 68, 68);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#redirectGame:hover {
    background-color: rgb(255, 135, 135);
}