 @font-face { 
    font-family: BubbleSans;
    src: url(../fonts/BubbleSans/BubbleSans-Regular.otf);
  }
 
  @font-face {  
    font-family: PaluiSP;
    src: url(../fonts/PaluiSP/PaluiSPDemo-Bold.otf);
  }

  @font-face {
    font-family: Bebas;
    src: url(../fonts/bebas/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../fonts/rubik/Rubik-VariableFont_wght.ttf);
}